.tablet__realTime {
    color: white;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    margin-left: 20px;
}

.tablet__realDate {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-left: 30px;
}

.tablet__container-apps {
    margin-left: auto;
    margin-right: auto;
    margin-top: 18rem;
    width: 65%;
    height: 4.5rem;
}

.tablet__screen-app {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    border-radius: 16px;
    cursor: pointer;
}

.tablet__input-container {
    width: 28%;
    margin-left: auto;
    margin-right: auto;
}

%inputStyle {
    border-radius: 8px;
    border-color: rgb(59, 59, 59);
    background-color: rgb(59, 59, 59);
    color: rgb(197, 197, 197);
    width: 300px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 48px;
}

.tablet__inputNotes {
    @extend %inputStyle;
}

.tablet__notes-container {
    width: 90%;
    height: 21rem;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
}

.tablet__notes-container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.tablet__notes-container-ind {
    float: left;
    text-align: left;
    border-radius: 10px;
    width: 29%;
    margin-right: 20px;
    margin-top: 20px;
    height: 10rem;
    padding: 10px;
    background-color: lighten($color: $screenclear, $amount: 12)
}

%titleNote {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 7rem;
}

.tablet__notes-title {
    @extend %titleNote;
}

.tablet__notes-date {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: right;
}

.tablet__notes-container-add {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.tablet__notes-add {
    border-radius: 50px;
    float: right;
    text-align: center;
    background-color: $orangebtn;
    font-size: 50px;
    width: 60px;
}

.tablet__notes-addTitle {
    @extend %titleNote;
    font-size: 20px;
    height: 2rem;
    margin-bottom: 0px;
}

.tablet__add-inputTitle {
    @extend %inputStyle;
    margin-top: 0px;
    width: 90%;
}

.tablet__add-inputBody {
    @extend %inputStyle;
    margin-top: 20px;
    width: 90%;
    height: 10rem;
}

%btnStyle {
    width: 100px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: 0px 0px transparent;
}

.tablet__add-btnCancel {
    @extend %btnStyle;
    background-color: rgb(255, 255, 255);
    color: black;
    margin-top: 10px;
}

.tablet__add-btnAccept {
    @extend %btnStyle;
    background-color: $orangebtn;
}

.tablet__downbar {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    display: flex;
    top: 32.5rem;
    width: 59.5%;
    height: 50px;
    background-color: rgba(10, 10, 10, 0.7);
}

.tablet__downbar-items {
    color: white;
    text-align: center;
    margin-left: 250px;
    margin-top: 10px;
    font-size: 25px;
    cursor: pointer;
}
  
.tablet__Countdown-Mins {
    @extend %titleNote;
    text-align: center;
}

.tablet__Countdown-Container {
    width: 60%;
    display: flex;
    height: 20rem;
    margin-right: auto;
    margin-left: auto;
}
